.app-title {
    color: #F9C640;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: .5px;
    margin-bottom: 16px;
    margin-top: 0;
    text-align: center;
}

.app-phrase {
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    max-width: 220px;
}

.button-box {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    width: 100%;
}